.footer{
    padding-top: 36px;
    padding-bottom: 39px;
    background-color: #1B1B1B;
    &-title{
        color: #ffffff;
        text-align: center;
        font-size: 13px;
        font-weight: 300;
        opacity: .5;
    }
}